.content {
    /* px-10 -> padding-left/right:2.5rem; flex -> display:flex; flex-col -> flex-direction:column; overflow-x-auto -> overflow-x:auto; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.content pre {
    /* overflow-x-auto -> overflow-x:auto; px-6 -> padding-left/right:1.5rem; py-5 -> padding-top/bottom:1.25rem; whitespace-pre -> white-space:pre; bg-code-background-color -> background-color:var(--code-background-color); text-code-color -> color:var(--code-color); text-sm -> font-size:0.875rem; font-mono -> font-family:monospace; */
    overflow-x: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    white-space: pre;
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: 0.875rem;
    font-family: monospace;
}
.content code {
    /* bg-code-background-color -> background-color:var(--code-background-color); text-code-color -> color:var(--code-color); text-sm -> font-size:0.875rem; font-normal -> font-weight:400; px-2 -> padding-left/right:0.5rem; py-1 -> padding-top/bottom:0.25rem; font-mono -> font-family:monospace; */
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-size: 0.875rem;
    font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-family: monospace;
}
.content pre code {
    /* p-0 -> padding:0; */
    padding: 0;
}
.content a {
    /* text-primary-link-color -> color:var(--primary-link-color); */
    color: var(--primary-link-color);
}
.content a:hover {
    /* underline -> text-decoration:underline; */
    text-decoration: underline;
}
.content blockquote {
    border-left: #e2dede 8px solid;
    margin: 0;
    background-color: #f2f1f0;
    padding: 0 20px;
}
